{% extends "base.html" %}
{% block body %}
<div class="container" id="container">
    <div class="hd">
        <h1 class="page_title">欢迎加入彭家湾亲友会</h1>
    </div>
    <div class="bd">
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">手机</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="tel" name="phone" placeholder="请输入手机号码">
                </div>
            </div>
            <div class="weui_cell weui_cell_switch">
                <div class="weui_cell_hd weui_cell_primary">是否农历生日</div>
                <div class="weui_cell_ft">
                    <input class="weui_switch" type="checkbox" name="">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">生日</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="text" data-toggle='date' name="birthday">
                </div>
            </div>
            <div class="weui_cell">
                <a href="javascript:;" class="weui_btn weui_btn_primary">确认提交</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
